span[data-section] {
    color: var(--text-normal);
    font-size: 12px;
    font-weight: normal;
    line-height: var(--line-height-tight);

    opacity: 0.7;

    position: absolute;
    left: 0;
    top: 0;

    line-height: var(--line-height-tight);
    padding-top: calc(var(--font-text-size)/3);

    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.markdown-source-view span[data-section] {
    transform: translateX(calc(-100% - 50px));
}

.markdown-embed span[data-section]{
    display: none;
}

span[data-section]::before {
    content: attr(data-section);
    color: var(--text-muted);
    background-color: var(--color-base-30);
    padding: 3px 6px;
    border-radius: 6px;
}
