.mandala-view {
    --mandala-accent: #55b1ae;
    --mandala-color-selection: #418cff;
}
.theme-dark {
    --background-container: #373d4c;
    --background-active-node: var(--background-primary);
    --background-active-parent: #5b637a;
    --color-active-parent: var(--text-normal);
    --mandala-accent-faint: #628c8c;
    --mandala-color-selection-faint: #567aab;
}
.theme-light {
    --background-container: #899cb3;
    --background-active-node: var(--background-primary);
    --background-active-parent: #cedbeb;
    --color-active-parent: var(--text-normal);
    --mandala-accent-faint: #adccca;
    --mandala-color-selection-faint: #8eaedf;
}


/* hotkeys */
.theme-light {
    --custom-hotkey-bg: #a0c6dd;
}

.theme-dark {
    --custom-hotkey-bg: #5f7f93;
}

